.videoBox {
  height: 80vh;
  margin: auto;
  width: 80%;
  background-color: black;
  background-image: url('https://1.bp.blogspot.com/-0u1S3IjYnD8/U7AOO_iTa-I/AAAAAAABXOA/yqZAB9DqTRM/s1600/TFUdpmr.gif');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  text-align: center;
  border-color: #ed9e9e;
  box-shadow: 0 0 10px #d30e0e;
  font-family: 'Nanum Gothic Coding', monospace;
}

.background {
  background-color: black;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 5%;
}

.videoBox h2 {
  color: yellow;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 10vh;
  margin-left: 30%;
  margin-top: 30vh;
  position: absolute;
  text-shadow: 2px 2px rgb(2, 1, 1);
}

