.filmText {
  color: yellow;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 7vh;
  padding: 4vh; }

.crawl {
  background-color: black;
  padding: 9vh;
  width: 40%; }

.introTitle {
  background-color: black;
  color: yellow;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 5vh;
  height: 17vh;
  margin-top: 160%;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px darkred;
  width: 107%; }

.intro {
  -webkit-animation: intro 6s ease-out 1s;
  animation: intro 6s ease-out 1s;
  color: yellow;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 11vh;
  font-weight: 400;
  left: 25%;
  margin: auto;
  opacity: 0;
  position: absolute;
  text-shadow: 2px 2px black;
  top: 39%;
  width: 50%;
  z-index: 1; }

@keyframes intro {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

p {
  color: #FFFF82; }

.board {
  -ms-transform-origin: 50% 100%;
  -webkit-box-shadow: 0 0 10px #9ecaed;
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: perspective(300px) rotateX(25deg);
  border-color: #fb0000;
  bottom: 0;
  box-shadow: 0 0 33px #f10303;
  color: red;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 370%;
  font-weight: bold;
  height: 26em;
  left: 50%;
  line-height: 20vh;
  margin-left: -14em;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-align: justify;
  transform-origin: 50% 100%;
  transform: perspective(364px) rotateX(20deg);
  width: 16em; }

.board:after {
  bottom: 60%;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.content {
  animation: scroll 100s linear 5s;
  position: absolute;
  top: 100%; }

.title, .subtitle {
  font-family: "Nanum Gothic Coding", monospace;
  text-align: center; }

@keyframes scroll {
  0% {
    top: 100%; }
  100% {
    top: -170%; } }
