
.cardCointainer {
  padding: 11vh;
  background-image: url('../../../assets/ea_star_wars_darth_vader.0.jpg');
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-size: cover;
  flex-wrap: wrap;
  min-height: 100vh;
}
