.cardCointainer {
  -ms-flex-pack: distribute;
  background-image: url("../../../assets/ea_star_wars_darth_vader.0.jpg");
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  min-height: 100vh;
  padding: 11vh; }
