.nav {
  background-image: url('../../../assets/star-wars-2369317_640.png');
  width: 25vh;
  height: 12vh;
  background-color: transparent;
  border: none;
  background-size: 21vh;
  color: white;
  padding: 3vh;
  font-size: 4vh;
  background-repeat: space;
  margin: 1vh;
  cursor: pointer;
}