$black-color :  black;
$main-font : 'Nanum Gothic Coding', monospace;

button {
  background-color: transparent;
  background-image: url('../../../assets/star-wars-2369317_640.png');
  background-repeat: space;
  background-size: 21vh;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Nanum Gothic Coding', monospace;  
  font-size: 4vh;
  height: 12vh;
  margin: 1vh;
  padding: 3vh;
  width: 25vh;
}

a {
  color: white;
  text-decoration: none
}
