.card {
  -webkit-box-sizing: border-box;
  background-color: #000000e0;
  box-shadow: 1px -2px 20px 2px #ff000091;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: "Nanum Gothic Coding", monospace;
  line-height: 9vh;
  margin-bottom: 7vh;
  max-height: 60vh;
  overflow: scroll;
  text-align: center;
  width: 36vh; }

b {
  color: #efe48cc9; }

.favoriteBar {
  background-image: url("http://www.freepngimg.com/download/star/2-gray-star-png-image.png");
  background-repeat: no-repeat;
  background-size: 4vh;
  max-height: 10vh;
  overflow: scroll;
  width: 100%; }

.favoriteBarActive {
  background-image: url("https://clipart.info/images/ccovers/1495916688christmas-tree-star-png-image-gallery-11.png");
  background-repeat: no-repeat;
  background-size: 4vh;
  max-height: 10vh;
  overflow: scroll;
  width: 100%; }

.favoriteCard {
  background-color: #000000e0;
  background: -o-linear-gradient(transparent, transparent);
  box-shadow: 1px -2px 20px 2px #1602c5ad;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  line-height: 9vh;
  margin-bottom: 7vh;
  max-height: 60vh;
  overflow: scroll;
  text-align: center;
  width: 36vh;
  font-family: "Nanum Gothic Coding", monospace; }

.cardText {
  padding: 4vh 1vh; }

.name {
  font-size: 3vh;
  padding: 0px 3.6vh;
  text-shadow: 1px 1px 1px #201609; }

h2 {
  font-size: 2.5vh; }
