.card {
  padding: 4vh;
  text-align: center;
  box-sizing: border-box;
  height: 40vh;
  width: 36vh;
  background-color: #000000cc;
  -webkit-box-shadow: 90px 38px 85px 26px #ff000091;
  box-shadow: 90px 38px 85px 26px #ff000091;
  margin-bottom: 7vh;
  color: white;
  line-height: 9vh;
}